force-app/main/default/flows/SLCases_Close_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Case_to_Save_List</name>
        <label>Add Case to Save List</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_Save_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Can_t_Close_Error</name>
        <label>Set Can&apos;t Close Error</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Can&apos;t close cases: some cases are already closed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Can_t_Save</name>
        <label>Set Can&apos;t Save</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>canSaveCases</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Save_Error</name>
        <label>Set Save Error</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>50</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>successMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The cases were successfully closed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Can_Close_Case</name>
        <label>Check Can Close Case</label>
        <locationX>534</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Can_t_Save</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cases.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Case</targetReference>
            </connector>
            <label>Can Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Can_Save</name>
        <label>Check Can Save</label>
        <locationX>314</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Set_Can_t_Close_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>canSaveCases</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Cases</targetReference>
            </connector>
            <label>Can Save</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SLCases - Close Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLCases - Close Cases</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Can_Close_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Can_Save</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Save_Cases</name>
        <label>Save Cases</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Save_Error</targetReference>
        </faultConnector>
        <inputReference>cases</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>canSaveCases</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>successMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
