force-app/main/default/flows/SLLeads_Re_Assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Lead_to_Save_List</name>
        <label>Add Lead to Save List</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>leadsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_Assign_Lead</name>
        <label>Re-Assign Lead</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewOwner.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lead_to_Save_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>440</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>successMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All leads were re-assigned</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SLLeads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLLeads - Re-Assign</label>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Re_Assign_Lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Save_Leads</name>
        <label>Save Leads</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputReference>leadsList</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Owner</name>
        <label>Select Owner</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
        <fields>
            <name>NewOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select New Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Owner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>successMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
