force-app/main/default/flows/SLScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>accountCases</name>
        <choiceText>List of Cases of an Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>accountCases</stringValue>
        </value>
    </choices>
    <choices>
        <name>accountFiles</name>
        <choiceText>List of Files of an Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>accountFiles</stringValue>
        </value>
    </choices>
    <choices>
        <name>leads</name>
        <choiceText>List of Leads (no Parent Record)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leads</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_isCase</name>
        <label>Check isCase</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SelectFiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_List_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountCases</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectCases</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_isLead</name>
        <label>Check isLead</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SelectAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_List_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>leads</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectLeads</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>selectedCasesChoiceSet</name>
        <collectionReference>AccountCasesSmartList.selectedRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>selectedFilesChoiceSet</name>
        <collectionReference>selectedFiles</collectionReference>
        <dataType>String</dataType>
        <displayField>Title</displayField>
        <object>ContentVersion</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SLScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DisplaySelectedCases</name>
        <label>DisplaySelectedCases</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySelectionCount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(116, 116, 116);&quot;&gt;Number of selected cases: &lt;/strong&gt;&lt;span style=&quot;color: rgb(116, 116, 116);&quot;&gt;{!AccountCasesSmartList.selectedRecordsCount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedCasesRB</name>
            <choiceReferences>selectedCasesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Cases</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplaySelectedFiles</name>
        <label>DisplaySelectedFiles</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>selectedFilesRB</name>
            <choiceReferences>selectedFilesChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Files</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplaySelectedLead</name>
        <label>DisplaySelectedLead</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySelectedLeadRecord</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(116, 116, 166);&quot;&gt;Selected Lead&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 166);&quot;&gt;Id: &lt;/span&gt;&lt;span style=&quot;color: rgb(116, 116, 166); background-color: rgb(255, 255, 255);&quot;&gt;{!LeadsSmartList.selectedRecord.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 166);&quot;&gt;Name: {!LeadsSmartList.selectedRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(116, 116, 166);&quot;&gt;Email: {!LeadsSmartList.selectedRecord.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAccount</name>
        <label>SelectAccount</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_isCase</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select an Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectCases</name>
        <label>SelectCases</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplaySelectedCases</targetReference>
        </connector>
        <fields>
            <name>AccountCasesSmartList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>smartlists:smartList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listName</name>
                <value>
                    <stringValue>SLAccountCases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelected</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectFiles</name>
        <label>SelectFiles</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplaySelectedFiles</targetReference>
        </connector>
        <fields>
            <name>AccountFilesSmartList</name>
            <extensionName>smartlists:smartFilesList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listName</name>
                <value>
                    <stringValue>SLAccountFiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelected</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>selectedAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedFiles</assignToReference>
                <name>selectedRecords</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectLeads</name>
        <label>SelectLeads</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DisplaySelectedLead</targetReference>
        </connector>
        <fields>
            <name>LeadsSmartList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>smartlists:smartList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listName</name>
                <value>
                    <stringValue>SLHomeLeads</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelected</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectListType</name>
        <label>SelectListType</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_isLead</targetReference>
        </connector>
        <fields>
            <name>Select_a_List_Type</name>
            <choiceReferences>leads</choiceReferences>
            <choiceReferences>accountCases</choiceReferences>
            <choiceReferences>accountFiles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a List Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectListType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
