force-app/main/default/flows/SLSearchLeads_Add_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Id_to_List</name>
        <label>Add Id to List</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Members.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Campaign_Member</name>
        <label>Set Campaign Member</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>campaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>campaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Msg_Insert</name>
        <label>Set Error Msg - Insert</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Msg_No_Leads</name>
        <label>Set Error Msg - No Leads</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The provided leads are already campaign members</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Msg</name>
        <label>Set Success Msg</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>successMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadsAddedMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Leads</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Leads</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Leads_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Campaign_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Leads_0.LeadId</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Can_Add_Leads</name>
        <label>Check Can Add Leads</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Msg_No_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_Add_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Campaign_Member</targetReference>
            </connector>
            <label>Can Add Leads</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Lead_already_added</name>
        <label>Check if Lead already added</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadsIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Leads.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Leads</targetReference>
            </connector>
            <label>Already Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LeadsAddedMsg</name>
        <dataType>String</dataType>
        <expression>TEXT({!leadsCount}) + &apos; Campaign Member(s) have been created&apos;</expression>
    </formulas>
    <interviewLabel>SLSearchLeads - Add Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLSearchLeads - Add Campaign Member</label>
    <loops>
        <name>Loop_Leads</name>
        <label>Loop Leads</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Lead_already_added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Can_Add_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Filter_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Campaign_Member</name>
        <label>Save Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <connector>
            <targetReference>Set_Success_Msg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Msg_Insert</targetReference>
        </faultConnector>
        <inputReference>campaignMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Members</name>
        <label>Get Campaign Members</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Leads_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>leadsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>successMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
